a:link {
  text-decoration: none;
}

.button {
  display: inline-block;
  color: #FFFFFF;
  background-color: #00C7FF;
  border: 2px outset #00A9FF;
  border-radius: 5px;
  padding: 0.5em;
  font: 16px/1.5em "Droid Sans", sans-serif;
  text-align: center;
}

.button:hover {
  background-color: #00A9FF;
}

.button:active {
  background-color: #0069FF;
  border-color: #0069FF;
}

.button--lg {
  font-size: 1.5em;
}

.button--md {
  font-size: 1.25em;
}

.button--sm {
  line-height: 1em;
}
