*:focus {
  outline: none !important;
}

::-moz-placeholder {
  color: #40D5FF;
}

::-webkit-input-placeholder {
  color: #40D5FF;
}

.align-center-container {
  text-align: center;
}

.coves-form .button {
  margin: 0.5em 0;
}

.coves-form {
  background-color: #BFF1FF;
  border-radius: 5px;
  box-sizing: border-box;
  font: 16px/1.5em "Droid Sans", sans-serif;
  max-width: 700px;
  min-width: 350px;
  padding: 1.5em 2em;
}

.coves-form__section {
  margin-bottom: 1.5em;
}

.coves-form__heading {
  color: #005EFF;
}

.coves-form__label {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #005EFF;
  display: inline-block;
  font-weight: bold;
  padding: .25em;
}

.coves-form__label--normal {
  font-weight: normal;
}

.coves-form__label--center {
  display: block;
  text-align: center;
}

.coves-form__label--right {
  text-align: right;
  width: 15%;
}

.coves-form__label--lg {
  font-size: 2em;
  line-height: 2em;
}

.coves-form__label--pointer {
  cursor: pointer;
}

.coves-form__input {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
  margin: 0.5em 0;
  padding: 0.375em 0.625em;
  width: 100%;
  -moz-appearance: none;
}

.coves-form__input--inline {
  width: auto;
}

.coves-form__input--lg {
  font-size: 1.5em;
  line-height: 1.5em;
}

.coves-form__input--hover:hover {
  border: 1px solid #00A9FF;
}

.coves-form__input--focus:focus {
  border: 1px solid #005EFF;
}

.coves-form__select {
  cursor: pointer;
}

.coves-form__select:invalid {
  color: #40D5FF;
}

.coves-form__select option {
  background-color: #FFFFFF;
  color: #000000;
}

.coves-form__select option[value=""] {
  color: #40D5FF;
}

.coves-form__radio-container {
  line-height: 2em;
  margin: 0.25em 0;
}

.coves-form__radio-container__input {
  cursor: pointer;
}

.coves-form__radio-container__text {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
  margin-left: 0.5em;
  padding: 0.25em;
}

.coves-form__checkbox-container {
  line-height: 2em;
  margin: 0.5em 0;
}

.coves-form__checkbox-container input[type=checkbox] {
  display: none;
}

.coves-form__checkbox-container__fake-label {
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: 1.375em;
  margin-right: 0.5em;
  text-align: center;
  width: 1.5em;
}

.coves-form__checkbox-container__fake-label .fa-check {
  color: #005EFF;
  opacity: 0;
}

.coves-form__checkbox-container input[type=checkbox]:checked + .coves-form__checkbox-container__fake-label .fa-check {
  opacity: 1;
}

.coves-form__textarea {
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em "Droid Sans", sans-serif;
  padding: 0.5em;
}

.coves-form__textarea--no-resize {
  resize: none;
}

.coves-form__textarea--block {
  display: block;
  margin: 0.5em 0;
  resize: vertical;
  width: 100%;
}

.coves-form__hover-show {
  display: none;
}

.coves-form__hover-show-trigger:hover + .coves-form__hover-show {
  display: inline-block;
}