*:focus {
  outline: none !important;
}

::-moz-placeholder {
  color: #40D5FF;
}

::-webkit-input-placeholder {
  color: #40D5FF;
}

.coves-form .button {
  margin: 0.5em 0;
}

.coves-form {
  background-color: #BFF1FF;
  border-radius: 5px;
  box-sizing: border-box;
  font: 16px/1.5em "Droid Sans", sans-serif;
  max-width: 700px;
  min-width: 350px;
  padding: 1.5em 2em;
}

.coves-form__section {
  margin-bottom: 24px;
}

.coves-form__heading {
  color: #005EFF;
}

.coves-form__input-container {
  margin: 0.25em 0;
}

.coves-form__input-container--align-center {
  text-align: center;
}

.coves-form__label {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #005EFF;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  padding: 2px;
}

.coves-form__label--normal {
  font-weight: 400;
}

.coves-form__label--center {
  display: block;
  text-align: center;
}

.coves-form__label--right {
  text-align: right;
  width: 125px;
}

.coves-form__label--lg {
  font-size: 2em;
  line-height: 2em;
}

.coves-form__label--pointer {
  cursor: pointer;
}

.coves-form__input {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
  padding: 0.125em 0.625em;
  width: 100%;
  -moz-appearance: none;
}

.coves-form__input--inline {
  width: auto;
}

.coves-form__input--inline-small {
  width: 70px;
}

.coves-form__input--lg {
  font-size: 1.5em;
  line-height: 1.5em;
}

.coves-form__input--hover:hover {
  border: 1px solid #00A9FF;
}

.coves-form__input--focus:focus {
  border: 1px solid #005EFF;
}

.coves-form__input:focus:invalid {
  background-color: #FFFFFF;
  border: 1px solid #FF2100;
}

.coves-form__input:invalid {
  background-color: #FFBFD1;
  border: 1px solid #FF2100;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.coves-form__error {
  background-color: #FFBFD1;
  border: 1px solid #FF2100;
  border-radius: 0 0 5px 5px;
  border-top-color: transparent;
  color: #FF2100;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  padding: 1px 10px;
  visibility: hidden;
  white-space: nowrap;
}

.coves-form__input:invalid + .coves-form__error {
  visibility: visible;
}

#coves-form__error-box {
  background-color: #FFBFD1;
  border: 1px solid #FF2100;
  border-radius: 5px;
  color: #FF2100;
  display: none;
  font-weight: 600;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  width: auto;
}

.coves-form__select {
  height: 30px;
  cursor: pointer;
}

.coves-form__select option {
  background-color: #FFFFFF;
  color: #000000;
}

.coves-form__select option[value=""] {
  color: #40D5FF;
}

.coves-form__radio-container {
  line-height: 2em;
  margin: 0.25em 0;
}

.coves-form__radio-container__input {
  cursor: pointer;
}

.coves-form__radio-container__text {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
  margin-left: 0.5em;
  padding: 0.25em;
}

.coves-form__checkbox-container {
  line-height: 2em;
  margin: 0.5em 0;
}

.coves-form__checkbox-container input[type=checkbox] {
  display: none;
}

.coves-form__checkbox-container__fake-label {
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: 1.375em;
  margin-right: 0.5em;
  text-align: center;
  width: 1.5em;
}

.coves-form__checkbox-container__fake-label .fa-check {
  color: #005EFF;
  opacity: 0;
}

.coves-form__checkbox-container input[type=checkbox]:checked + .coves-form__checkbox-container__fake-label .fa-check {
  opacity: 1;
}

.coves-form__textarea {
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em "Droid Sans", sans-serif;
  padding: 0.5em;
}

.coves-form__textarea--no-resize {
  resize: none;
}

.coves-form__textarea--block {
  display: block;
  margin: 0.5em 0;
  resize: vertical;
  width: 100%;
}

.coves-form__hover-show {
  display: none;
}

.coves-form__hover-show-trigger:hover + .coves-form__hover-show {
  display: inline-block;
}