.coves-form__icon-input-container {
  position: relative;
}

.coves-form__icon-input-container--inline {
  display: inline-block;
  width: auto;
}

.coves-form__icon-input-container .icon {
  position: absolute;
  top: 15px;
  left: 7px;
}

.coves-form__icon-input-container .icon--lg {
  position: absolute;
  top: 23px;
  left: 11px;
}

.coves-form__icon-input-container .coves-form__input {
  padding-left: 36px;
}

.coves-form__icon-input-container .coves-form__input--lg {
  padding-left: 50px;
}

.icon-user {
  content: url('../images/user-24.png');
}

.icon-name {
  content:url('../images/compose-24.png');
}

.icon-email {
  content:url('../images/mail-24.png');
}

.icon-date {
  content:url('../images/calendar-24.png');
}

.icon-pass {
  content:url('../images/key-24.png');
}

.icon-search {
  content:url('../images/magnifyingglass-24.png');
}

.icon-movie {
  content:url('../images/video-24.png');
}

.icon-category {
  content:url('../images/category.png');
}

.icon-search-lg {
  content:url('../images/magnifyingglass-32.png');
}
