body {
  margin: 0;
}

.listing-container {
  background-color: #BFFFC5;
  font: 16px "Open Sans", sans-serif;
  margin-bottom: 3em;
  overflow: auto;
  padding: 1.5em;
  transition: margin-bottom 0.5s;
  transition-timing-function: ease-out;
}

.listing-heading {
  color: #00800B;
  font-size: 3em;
}

.article-container {
  background-color: #FFE5BF;
  border: 2px solid #FF9600;
  border-radius: 5px;
  float: left;
  height: 24em;
  margin: 1px;
  padding: 1em 1.5em;
  width: 10em;
}

.article-heading {
  color: #FF5600;
  height: 1.25em;
  margin: 0.5em 0;
  overflow: hidden;
}

.article-photo {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}

.description {
  height: 2.5em;
  line-height: 1.25em;
  overflow: hidden;
}

.price {
  color: #FF5600;
  font-size: 1.5em;
  font-weight: bold;
  height: 1em;
  margin: 0.5em 0;
}

.fa--blue {
  color: #0069FF;
}

.coves-form__checkbox-container__fake-label .fa-angle-double-up,
.expand-checkbox:checked + .coves-form__checkbox-container__fake-label .fa-angle-double-down {
  display: inline;
}

.expand-checkbox,
.coves-form__checkbox-container__fake-label .fa-angle-double-down,
.expand-checkbox:checked + .coves-form__checkbox-container__fake-label .fa-angle-double-up {
  display: none;
}

.coves-form__checkbox-container__fake-label {
  bottom: 1em;
  left: 1em;
  position: fixed;
  transition: bottom 0.5s;
  transition-timing-function: ease-out;
  z-index: 2;
}

.coves-form__checkbox-container__fake-label:hover {
  border-color: #0069FF;
}

.coves-form__checkbox-container__fake-label:active {
  background-color: #A7CBFF;
}

.expand-checkbox:checked ~ .cart {
  height: 12.5em;
}

.expand-checkbox:checked + .coves-form__checkbox-container__fake-label {
  bottom: 5.5em;
}

.expand-checkbox:checked ~ .listing-container {
  margin-bottom: 12em;
}

.expand-checkbox:checked ~ .cart .cart-list,
.expand-checkbox:checked ~ .cart .promo-code {
  display: block;
}

.cart {
  background-color: #BFD9FF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  box-sizing: border-box;
  clear: both;
  font: 16px "Open Sans", sans-serif;
  height: 3.5em;
  left: 0;
  padding: 1em 1em 1em 3.5em;
  position: fixed;
  transition: height 0.5s;
  transition-timing-function: ease-out;
  width: 100%;
}

.cart-heading {
  line-height: 1.5em;
}

.cart-list {
  display: none;
  height: 4.875em;
  margin-top: 1em;
  overflow-y: auto;
}

.cart-list::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cart-list::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 12px;
}

.cart-list::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.cart-item {
  height: 2.25em;
  margin: 0.125em 0;
}

#chekout-button {
  bottom: 0.375em;
  float: right;
  position: relative;
}

.item-span {
  color: #005EFF;
  line-height: 2.25em;
  margin-right: 1em;
}

.item-left {
  float: left;
}

.item-right {
  float: right;
}

.item-total {
  text-align: right;
  width: 15%;
}

.item-quantity {
  text-align: right;
  width: 10%;
}

.input-quantity {
  border-color: #00A9FF;
  line-height: 1.375em;
  margin: 0;
  text-align: center;
  width: 2.5em;
}

.button-quantity {
  height: 1em;
  margin-left: 0.25em;
}

.promo-code {
  display: none;
  float: right;
  margin-top: 0.5em;
}

.promo-code .coves-form__input {
  border-color: #00A9FF;
  margin: 0;
}
