#listing-container {
  background-color: #99FFF0;
  font: 16px "Open Sans", sans-serif;
  margin-bottom: 0;
  overflow: auto;
  padding: 1.5em;
  transition: margin-bottom 0.5s;
  transition-timing-function: ease-out;
}

#listing-container.cart--show {
  margin-bottom: 45px;
}

#listing-container.cart--expand {
  margin-bottom: 195px;
}

.listing-heading {
  color: #009983;
  font-size: 3em;
}

.article-container {
  background-color: #E299FF;
  border: 2px solid #B500FF;
  border-radius: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  float: left;
  margin: 1px;
  padding: 1em 1.5em;
  width: 10em;
  align-items: center;
  -webkit-align-items: center;
}

.article-heading {
  color: #B500FF;
  height: 1.25em;
  margin: 0.5em 0;
  overflow: hidden;
}

.article-photo {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}

.description {
  height: 2.5em;
  line-height: 1.25em;
  overflow: hidden;
}

.price {
  color: #B500FF;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0.25em 0;
  text-align: center;
}

.listing-container .button {
  background-color: #FFA000;
  border-color: #FF8200;
}

.listing-container .button:hover {
  background-color: #FF8200;
}

.listing-container .button:active {
  background-color: #FF6000;
  border-color: #FF6000;
}

.fa--blue {
  color: #0069FF;
}

#show-cart-button.cart-show .fa-angle-double-down,
#show-cart-button .fa-angle-double-up {
  display: inline-block;
}

#show-cart-button .fa-angle-double-down,
#show-cart-button.cart-show .fa-angle-double-up {
  display: none;
}

#show-cart-button {
  line-height: 16px;
  width: 17px
}

#cart-container.cart--expand #cart-list,
#cart-container.cart--expand #promo-code {
  display: block;
}

#cart-container {
  background-color: #BFD9FF;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  box-sizing: border-box;
  color: #0069FF;
  display: none;
  font: 16px "Open Sans", sans-serif;
  height: 55px;
  left: 0;
  padding: 1em;
  position: fixed;
  transition: height 0.5s;
  transition-timing-function: ease-out;
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

#cart-container.cart--show {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#cart-container.cart--expand {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

.row-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#cart-heading {
  font-size: 24px;
  font-weight: 600;
}

#cart-total {
  margin-left: 30px;
  margin-right: 20px;
}

.cart--expand #cart-total {
 margin-left: auto;
}

#cart-list {
  display: none;
  height: 4.875em;
  margin-top: 1em;
  overflow-y: auto;
}

#cart-list::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#cart-list::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 12px;
}

#cart-list::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.cart-item {
  height: 2.25em;
  margin: 0.125em 0;
}

.unit-container > * {
  margin-left: 4px;
}

.input-quantity {
  border-color: #00A9FF;
  line-height: 1.375em;
  text-align: center;
  width: 2.5em;
}

.button-quantity {
  padding: 4px;
  width: 16px;
}

#promo-code {
  display: none;
  margin-top: 0.5em;
}

#promo-code .coves-form__input {
  border-color: #00A9FF;
  margin: 0;
}
