.sidebar {
  background-color: #F6F6F6;
  padding: 1.5em;
  border: 2px solid #4D4E7F;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FF5A58;
  font: 16px "Roboto", sans-serif;
  max-width: 525px;
  min-width: 225px;
}

.sidebar__heading {
  margin: 5px 0;
}

.sidebar__heading--name {
  font-weight: normal;
}

.sidebar__img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.sidebar__img--border {
  border: 2px solid #4D4E7F;
}

.sidebar__photo-container {
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 5px;
}

.sidebar__photo-container--main {
  width: 60%;
}
.clear-both {
  clear: both;
}

.sidebar__hr {
  height: 2px;
  width: 90%;
  border: 0;
  background-color: #4D4E7F;
}

.sidebar__link {
  text-decoration: none;
}

.sidebar__button {
  display: inline-block;
  color: #FFFFFF;
  background-color: #4D4E7F;
  border: 2px outset #343698;
  border-radius: 5px;
  padding: 0.5em;
  font: 1em/1.5em "Droid Sans", sans-serif;
  text-align: center;
}

.sidebar__button:hover {
  background-color: #343698;
}

.sidebar__button:active {
  background-color: #1A1DB2;
  border-color: #1A1DB2;
}

.sidebar__paragraph {
  color: #000000;
}