<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="sidebar.css"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Sidebar</title>
</head>
<body>
<div class="container">
  <div class="sidebar">
    <div class="content">
      <div class="name-header">
        <h1 class="name">Carlos</h1>
        <h1>Coves Prieto</h1>
      </div>
      <div class="photo main-photo">
        <img class="img-border" src="images/me.png">
      </div>
      <div class="photo">
        <img class="img-border" src="images/desktop.png">
      </div>
      <div class="photo">
        <img src="images/arch_sh.png">
      </div>
      <div class="clear"></div>
      <hr class="hr-sidebar">
      <div>
        <h3>The only way to go fast is to go well</h3>
        <p class="paragraph">In my last years as an logistics engineer, I became interested in programming and open
          source collaboration. After a casual meeting with an Agile developer, I discovered TDD, Clean Code and SOLID
          principles. Now I am a test-first coding believer.</p>
        <p class="paragraph">The heading is a quote from Robert C. "Uncle Bob" Martin. The photo shows my desktop, which
          runs i3 window manager under Arch Linux, my favourite distro.</p>
        <a class="button" href="#">Back to Full Profile</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>