<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="sidebar.css"/>
  <meta charset="UTF-8">
  <title>Sidebar</title>
</head>
<body>
<div class="container">
  <div class="sidebar">
    <div class="content">
      <div class="name-header">
        <h1 class="name">Carlos</h1>
        <h1>Coves Prieto</h1>
      </div>
      <div class="photo main-photo">
        <img class="img-border" src="images/me.png">
      </div>
      <div class="photo">
        <img class="img-border" src="images/desktop.png">
      </div>
      <div class="photo">
        <img src="images/arch_sh.png">
      </div>
      <hr class="hr-sidebar">
      <div>
        <h3>About Me</h3>
      </div>
    </div>
  </div>
</div>
</body>
</html>