.container {
  /*width: 30%;*/
}

.sidebar {
  background-color: #F6F6F6;
  padding: 5%;
  border: 2px solid #4D4E7F;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FF5A58;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

}

.content {
  width: 90%;
}

h1 {
  margin: 5px 0;
}

.name {
  font-weight: normal;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.img-border {
  border: 2px solid #4D4E7F;
}

.photo {
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 5px;
}

.main-photo {
  width: 60%;
}
.clear {
  clear: both;
}

hr.hr-sidebar {
  height: 2px;
  width: 90%;
  border: 0;
  background-color: #4D4E7F;
}

a:link {
  text-decoration: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #4D4E7F;
  border: 2px outset #343698;
  border-radius: 5px;
  padding: 5px 5px;
  font-family: "Droid Sans", sans-serif;
  text-align: center;
}

.button:hover {
  background-color: #343698;
}

.button:active {
  background-color: #1A1DB2;
  border-color: #1A1DB2;
}

.paragraph {
  color: #000000;
}