.container {
  width: 30%;
}

* {
  box-sizing: border-box;
}

.sidebar {
  background-color: #E3FBFF;
  padding: 1% 4% 1% 2%;
  border: 2px solid #008EA3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Droid Sans", "Lora", sans-serif;
}

.content {
  width: 90%;
}

h1 {
  color: #008EA3;
  font-size: 2em;
  line-height: 35px;
  margin: 5px;
}

h3 {
  color: #008EA3;
  font-size: 1.5em;
  line-height: 35px;
  margin: 10px ;
}

.name {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.img-border {
  border: 1px solid #008EA3;
}

.photo {
  float: left;
  width: 40%;
  padding: 5px;
}

.main-photo {
  width: 60%;
}

hr.hr-sidebar {
  clear: both;
  height: 1px;
  width: 90%;
  border: 0;
  background-color: #008EA3;

}