a:link {
  text-decoration: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  color: #FFFFFF;
  background-color: #00C7FF;
  border: 2px outset #00A9FF;
  border-radius: 5px;
  padding: 5px;
  font: 100%/26px "Droid Sans", sans-serif;
  font-size: 1em;
  text-align: center;
}

.button:hover {
  background-color: #00A9FF;
}

.button:active {
  background-color: #0069FF;
  border-color: #0069FF;
}

.button-sm {
  height: 32px;
  line-height: 20px;
}

.button-md {
  height: 50px;
  line-height: 34px;
  font-size: 1.25em;
}

.button-lg {
  height: 60px;
  line-height: 36px;
  padding: 10px 10px;
  font-size: 1.5em;
}
