.button {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  color: #4940e4;
  background-color: #BCD2EE;
  border: 2px outset #6495ED;
  border-radius: 5px;
  font-family: "Droid Sans", sans-serif;
  line-height: 36px;
  text-align: center;
  padding: 5px 5px;
}

a:link {
  text-decoration: none;
  height: 50px;
}

button {
  font-size: 1em;
  height: 50px;
}

