.sidebar {
  background-color: $color-background;
  border: 2px solid $color-violet;
  border-radius: $base-radius;
  max-width: 32rem;
  min-width: 18rem;
  padding: $base-spacing-unit-large;
}

.sidebar__heading {
  color: $color-red;
}

.sidebar__img {
  float: left;
  margin: 2%;
  width: 36%;
}

.sidebar__img--main {
  width: 56%;
}

.sidebar__img--border {
  border-radius: $base-radius;
  border: 2px solid $color-violet;
}

.sidebar__hr {
  background-color: $color-violet;
  border: 0;
  height: 2px;
  margin-top: $base-spacing-unit;
}

.sidebar__button {
  background-color: $color-violet;
  border: 2px outset $color-violet-dark;

  &:hover {
    background-color: $color-violet-dark;
  }

  &:active {
    border-color: $color-violet-dark;
  }
}

.sidebar__paragraph {
  text-align: justify;
}