::-webkit-input-placeholder,
::-moz-placeholder {
  color: $color-blue-light;
}

.coves-form {
  background-color: $color-blue-lighter;
  border-radius: $base-radius;
  max-width: 700px;
  min-width: 300px;
  padding: $base-spacing-unit-large;
  @include flex-container(column, stretch);

  section {
    @include flex-container(column, stretch);
  }
}

.coves-form--center {
  @extend .coves-form;
  align-items: center;
}

.coves-form__heading {
  color: $color-blue-dark;
}

.coves-form__input-container--column {
  @include flex-container(column, stretch);
  margin-bottom: $base-spacing-unit-small;
  position: relative;
}

.coves-form__input-container--row {
  @extend .coves-form__input-container--column;
  @include flex-container();
}

.coves-form__label {
  border: 1px solid transparent;
  border-radius: $base-radius;
  color: $color-blue-dark;
  font-weight: 600;
  padding: 4px 6px;
}

.coves-form__label--lg {
  @extend .coves-form__label;
  @include font-size(32px)
}

.coves-form__input {
  background-color: $color-white;
  border: 1px solid transparent;
  border-radius: $base-radius;
  padding: 2px 10px;

  &:hover,
  &:focus {
    border-color: $color-blue;
  }

  &:invalid {
    background-color: $color-red-light;
    border-color: $color-red;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      background-color: $color-white;
    }
  }

  &:disabled {
    background-color: $color-grey-light;
    border-color: transparent;
  }
}

.coves-form__input-container--column .coves-form__input:last-child {
  margin-bottom: $base-spacing-unit;
}

.coves-form__input--inline {
  @extend .coves-form__input;
  margin-right: 6px;
  padding-right: 2px;

  &:invalid {
    border-radius: 5px;
  }
}

.coves-form__input--lg {
  @include font-size(24px)
}

.coves-form__error {
  background-color: $color-red-light;
  border: 1px solid $color-red;
  border-radius: 5px;
  color: $color-red;
  padding: 2px;
  visibility: hidden;
}

.coves-form__error--attached {
  @extend .coves-form__error;
  border-radius: 0 0 5px 5px;
  border-top-color: transparent;
  @include font-size(12px, 14px);
  font-weight: 600;
  height: 16px;
  overflow: hidden;
  padding: 0 10px;
  white-space: nowrap;
}

.coves-form__input:invalid + .coves-form__error {
  visibility: visible;
}

.coves-form__error-box {
  @extend .coves-form__error;
  display: none;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  visibility: visible;
}

.coves-form-ok {
  color: $color-blue-dark;
  display: none;
  position: absolute;
  right: 7px;
  top: 7px;

  & ~ .coves-form__input {
    padding-right: 30px;
  }
}

.coves-form__select {
  cursor: pointer;
  height: 30px;
}

.coves-form__select option {
  background-color: $color-white;
  color: $color-black;
}


.coves-form__radio-set {
  @include flex-container(column, stretch);
}

.coves-form__radio-container {
  @include flex-container();
}

.coves-form__radio-container__input {
  cursor: pointer;
  flex-basis: 20px;
}

.coves-form__radio-container__label {
  @extend .coves-form__label;
  font-weight: 400;
}

.coves-form__radio-container__text {
  margin-left: 27px;
  width: 170px
}

.coves-form__checkbox-container {
  @include flex-container();
}

.coves-form__checkbox-container__fake-label {
  @include flex-container($spacing: center);
  background: $color-white;
  border: 1px solid transparent;
  border-radius: $base-radius;
  height: $base-spacing-unit-large;
  margin-right: $base-spacing-unit-small;
  width: $base-spacing-unit-large;

  &:hover,
  &:focus {
    border-color: $color-blue;
  }
}

.coves-form__checkbox-container__fake-label .fa-check {
  color: $color-blue-dark;
  opacity: 0;
}

.coves-form__checkbox-container input[type=checkbox]:checked + .coves-form__checkbox-container__fake-label .fa-check {
  opacity: 1;
}

.coves-form__textarea {
  line-height: $base-font-size;
  padding: 10px;
  resize: vertical;
}

.coves-form__textarea--no-resize {
  @extend .coves-form__textarea;
  resize: none;
}