.button {
  background-color: $color-blue-light;
  border: 2px outset $color-blue;
  border-radius: $base-radius;
  color: $color-white;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  user-select: none;

  &:hover {
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-blue-dark;
    border-color: $color-blue-dark;
  }
}

.button--lg {
  @include font-size(24px)
}

.button--md {
  @include font-size(20px)
}

.button--sm {
  @include font-size(16px, 16px);
}
