.showcase-container {
  display: flex;
  flex-wrap: wrap;
}

.showcase__form {
  border: 2px solid $color-blue;
  border-radius: $base-radius;
@include flex-container(column);
  align-items: center;
  flex-shrink: 0;
  min-width: 11rem;
  margin: $base-spacing-unit-small;
  padding: $base-spacing-unit;
}

.showcase__form__photo {
  border-radius: $base-radius;
}

.showcase__form__button {
  margin-top: $base-spacing-unit;
}