.cart {
  background-color: $color-blue-lighter;
  border: 0 solid $color-blue;
  border-radius: $base-radius $base-radius 0 0;
  color: $color-blue-dark;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  padding: 0 $base-spacing-unit;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cart--show {
  border-width: 1px;
  height: 72px;
  padding: $base-spacing-unit;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cart__header {
  display: inline-flex;
  align-items: center;
  @include font-size(24px);
  font-weight: 600;
}

.cart__header__counter {
  margin-right: $base-spacing-unit-large;
}

.cart__header__total {
  margin-left: auto;
}