$menu-breakpoint: 630px;

.menu {
  display: flex;
  flex-direction: column;

  @include mq($menu-breakpoint) {
    flex-direction: row;
  }
}

.menu__button {
  margin: $base-radius 0;

  @include mq($menu-breakpoint) {
    margin: 0 $base-radius;
  }
}