.cart-modal-container {
  background: $color-alpha;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.5s, visibility 0s linear 0.6s;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.cart-modal__background {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cart-modal__box {
  background-color: $color-background;
  border: 1px solid $color-blue;
  border-radius: 2*$base-radius;
  color: $color-blue-dark;
  padding: $base-spacing-unit-large;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  max-height: 85%;
  display: flex;
  flex-direction: column;

  width: 300px;

  @include mq($mq-tablet) {
    width: 402px;
  }
  @include mq($mq-landscape) {
    width: 652px;
  }
}

.cart-modal-toggle {
  &:checked + .cart-modal-container {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    visibility: visible;

    & .cart-modal__box {
      top: 2 * $base-spacing-unit-large;
    }
  }
}

.cart__header--modal {
  display: flex;
  position: relative;
  flex-shrink: 0;
}

.cart-list {
  margin: $base-spacing-unit 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.cart-list__item {
  border-radius: $base-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $base-spacing-unit-small;

  &:nth-child(2n-1) {
    background-color: $color-grey-light;
  }

  @include mq($mq-tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.cart-list__item__info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 200px;
}

.cart-list__item__quantity {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  align-self: flex-end;

  @include mq($mq-tablet) {
    align-self: auto;
  }
}

.button-remove {
  border-radius: 50%;
}

.cart-list__item__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 $base-spacing-unit 0 $base-spacing-unit-small;
}

.line-price {
  font-weight: 600;
  margin: 0 $base-spacing-unit-small 0 auto;
  flex-shrink: 0;
}

.button-quantity {
  height: 28px;
  width: 28px;
  padding: 0;
  flex-shrink: 0;
}

.input-quantity {
  border-color: $color-blue;
  margin: 0 $base-spacing-unit-small;
}

.promo {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: $base-spacing-unit;
  flex-shrink: 0;
}

.promo-code {
  border: 1px solid $color-blue;
  width: 10rem;
  margin-right: $base-spacing-unit-small;

  &:focus {
    box-shadow: 0 0 3px 2px rgba(0, 169, 255, 0.5);
  }
}

.promo-status {
  background-color: $color-blue-lighter;
  border-radius: $base-radius;
  color: $color-blue-dark;
  @include font-size(16px);
  padding: $base-spacing-unit-small;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  transition: all .4s ease-out;
  z-index: 10;

  &:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-blue-lighter;
    content: '';
    height: 0;
    position: absolute;
    right: $base-spacing-unit-large;
    top: 100%;
    width: 0;
  }

  &.promo--show {
    opacity: 1;
    bottom: 2.5 * $base-spacing-unit;
  }
}

.promo-msg {
  @extend .promo-status;
  background-color: $color-red-light;
  color: $color-red;

  &:after {
    border-top-color: $color-red-light;
  }
}

.cart-modal__box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}