.coves {
  font-family: "Oswald", sans-serif;
  @include font-size(20px);

  @include mq($mq-tablet) {
    @include font-size(24px)
  }

  @include mq($mq-landscape) {
    @include font-size(32px)
  }
}