.cart-modal-container {
  background: $color-alpha;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.5s, visibility 0s linear 0.6s;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.cart-modal__background {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cart-modal__box {
  background-color: $color-background;
  border: 1px solid $color-blue;
  border-radius: 2*$base-radius;
  color: $color-blue-dark;
  padding: $base-spacing-unit-large;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  max-height: 85%;
  display: flex;
  flex-direction: column;

  width: 300px;

  @include mq($mq-tablet) {
    width: 402px;
  }
  @include mq($mq-landscape) {
    width: 652px;
  }
}

.cart-modal-toggle {
  &:checked + .cart-modal-container {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    visibility: visible;

    & .cart-modal__box {
      top: $base-spacing-unit-large;
    }
  }
}

.cart__header--modal {
  display: flex;
}

.cart-list {
  display: flex;
  flex-direction: column;
  padding: $base-spacing-unit 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.cart-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
}

.cart-list__item__section {
  display: flex;
  align-items: center;

  &:first-child {
    flex-grow: 1;
  }
}

.cart-list__item__element {
  margin-right: $base-spacing-unit-small;
}

.cart-list__item__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.button-quantity {
  height: 28px;
  width: 28px;
  padding: 0;
  flex-shrink: 0;
}

.button-remove {
  border-radius: 50%;
  margin-right: $base-spacing-unit-small;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo-code {
  width: 10rem;
}

.promo-status,
.promo-msg {
  margin-top: $base-spacing-unit-small;
}

.cart-modal__box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}