html {
  font-family: 'Open Sans', sans-serif;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  padding: 0;
  background-color: $color-background;
  color: $color-grey;
}