$color-background: #f2f2f2;

$color-white: #fff;
$color-black: #000;

$color-blue-lighter: #bff1ff;
$color-blue-light: #00c7ff;
$color-blue: #00a9ff;
$color-blue-dark: #005eff;

$color-grey-dark: #3A3A3A;
$color-grey: #4C4C4C;
$color-grey-light: #CDCDCD;

$color-indigo: #9c60e6;

$color-red: #fb5e5e;
$color-red-light: #fedada;

$color-violet: #6869A4;
$color-violet-dark: #4d4e7f;