.cart-modal-toggle-button {
  height: 40px !important;
  width: 40px !important;
  margin-right: $base-spacing-unit-large;
}

#chekout-button {
  height: 40px;
  width: 100px;
  font-weight: 700;
}

#chekout-button,
.cart-modal-toggle-button,
.button-quantity {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.input-quantity {
  text-align: center !important;
  width: 40px !important;
}

.button-remove {
  border-style: solid !important;
}