<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <title>Product Listing</title>
</head>
<body>
<header>
  <div class="menu">
    <a href="../../index.html" class="button menu__button">Back to Home</a>
  </div>
</header>
<div id="listing-container" class="listing-container">
  <script id="listing-template" type="text/x-handlebars-template">
    <div class="article-container o-center-margin">
      <div class="article">
        <h2>{{articles.0.name}}</h2>
        <img class="article-photo" src="{{articles.0.image}}">
        <p class="description">{{articles.0.description}}</p>
        <p class="price">${{articles.0.price}}</p>
        <div id="{{articles.0.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.1.name}}</h2>
        <img class="article-photo" src="{{articles.1.image}}">
        <p class="description">{{articles.1.description}}</p>
        <p class="price">${{articles.1.price}}</p>
        <div id="{{articles.1.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.2.name}}</h2>
        <img class="article-photo" src="{{articles.2.image}}">
        <p class="description">{{articles.2.description}}</p>
        <p class="price">${{articles.2.price}}</p>
        <div id="{{articles.2.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.3.name}}</h2>
        <img class="article-photo" src="{{articles.3.image}}">
        <p class="description">{{articles.3.description}}</p>
        <p class="price">${{articles.3.price}}</p>
        <div id="{{articles.3.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.4.name}}</h2>
        <img class="article-photo" src="{{articles.4.image}}">
        <p class="description">{{articles.4.description}}</p>
        <p class="price">${{articles.4.price}}</p>
        <div id="{{articles.4.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.5.name}}</h2>
        <img class="article-photo" src="{{articles.5.image}}">
        <p class="description">{{articles.5.description}}</p>
        <p class="price">${{articles.5.price}}</p>
        <div id="{{articles.5.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.6.name}}</h2>
        <img class="article-photo" src="{{articles.6.image}}">
        <p class="description">{{articles.6.description}}</p>
        <p class="price">${{articles.6.price}}</p>
        <div id="{{articles.6.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.7.name}}</h2>
        <img class="article-photo" src="{{articles.7.image}}">
        <p class="description">{{articles.7.description}}</p>
        <p class="price">${{articles.7.price}}</p>
        <div id="{{articles.7.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.8.name}}</h2>
        <img class="article-photo" src="{{articles.8.image}}">
        <p class="description">{{articles.8.description}}</p>
        <p class="price">${{articles.8.price}}</p>
        <div id="{{articles.8.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.9.name}}</h2>
        <img class="article-photo" src="{{articles.9.image}}">
        <p class="description">{{articles.9.description}}</p>
        <p class="price">${{articles.9.price}}</p>
        <div id="{{articles.9.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.10.name}}</h2>
        <img class="article-photo" src="{{articles.10.image}}">
        <p class="description">{{articles.10.description}}</p>
        <p class="price">${{articles.10.price}}</p>
        <div id="{{articles.10.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
      <div class="article">
        <h2>{{articles.11.name}}</h2>
        <img class="article-photo" src="{{articles.11.image}}">
        <p class="description">{{articles.11.description}}</p>
        <p class="price">${{articles.11.price}}</p>
        <div id="{{articles.11.id}}" class="button add-button">{{addButtonText}}</div>
      </div>
    </div>
  </script>
</div>
<div id="cart-container" class="cart">
  <div id="cart-header" class="cart__header o-center-margin">
    <div id="show-cart-button" class="button">
      <span class="fa fa-angle-double-up fa-lg" aria-hidden="true"></span>
      <span class="fa fa-angle-double-down fa-lg" aria-hidden="true"></span>
    </div>
    <div id="item-counter-container" class="cart__header__counter">
      <span class="fa fa-shopping-cart fa-lg o-blue" aria-hidden="true"></span>
      <span id="item-counter">0</span>
    </div>
    <span id="cart-total" class="cart__header__total">$0</span>
  </div>
  <div id="cart-expand-container" class="cart__expand o-center-margin">
    <form id="cart-form" method="post" action="#">
      <div id="cart-list" class="cart-list"></div>
      <div id="promo" class="promo">
        <span>
          <input id="promo-code" type="text" class="coves-form__input promo-code" name="promo" placeholder="PROMO CODE">
          <div id="promo-button" class="button button--sm">Apply Code</div>
        </span>
        <span id="promo-status" class="promo-status"></span>
        <span id="promo-msg" class="promo-msg"></span>
        <div id="chekout-button" class="button button--sm">Checkout</div>
      </div>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="../../scripts/listing-data.js"></script>
<script src="../../scripts/listing-app.js"></script>
</body>
</html>