.cart {
  background-color: #FFBFF9;
  bottom: 0;
  box-sizing: border-box;
  clear: both;
  font: 16px "Droid Sans", sans-serif;
  height: 3.5em;
  left: 0;
  overflow: auto;
  padding: 1em 1em 1em 3.5em;
  position: fixed;
  width: 100%;
  transition: height 1s;
  transition-timing-function: ease-out;
}

.fa {
  color: #0069FF;
}

.coves-checkbox-fake .fa-angle-double-up,
.expand-checkbox:checked + .coves-checkbox-fake .fa-angle-double-down {
  display: inline;
}

.expand-checkbox,
.coves-checkbox-fake .fa-angle-double-down,
.expand-checkbox:checked + .coves-checkbox-fake .fa-angle-double-up {
  display: none;
}

.coves-checkbox-fake {
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 2;
  transition: bottom 1s;
  transition-timing-function: ease-out;
}

.expand-checkbox:checked ~ .cart {
  height: 15em;
}

.expand-checkbox:checked + .coves-checkbox-fake {
  bottom: 12.5em;
}
