*:focus {
  outline: none !important;
}

::-moz-placeholder {
  color: #40D5FF;
}

::-webkit-input-placeholder {
  color: #40D5FF;
}

.coves-form {
  border-radius: 5px;
  background-color: #BFF1FF;
  padding: 3% 5%;
  box-sizing: border-box;
  font: 16px/1.5em "Droid Sans", sans-serif;
}

.coves-label {
  color: #005EFF;
  font-weight: bold;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.center-label {
  display: block;
  text-align: center;
}

.label-lg {
  font-size: 2em;
  line-height: 2em;
}

.coves-input {
  -moz-appearance: none;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
}

.coves-input-lg {
  font-size: 1.5em;
  line-height: 1.5em;
}

.input-hover:hover {
  border: 1px solid #00A9FF;
}

.input-focus:focus {
  border: 1px solid #005EFF;
}

.coves-select {
  cursor: pointer;
}

.coves-select:invalid {
  color: #40D5FF;
}

.coves-select option {
  color: #000000;
}

.coves-select option[value=""] {
  color: #40D5FF;
}

.coves-radio {
  line-height: 2em;
  margin: 5px 0;
}

.label-normal {
  font-weight: normal;
}

.label-pointer {
  cursor: pointer;
}

.coves-input-radio {
  cursor: pointer;
}

.coves-radio-text {
  padding: 1px 5px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
}

.coves-checkbox {
  line-height: 2em;
  text-align: center;
  margin: 10px 0;
}

.coves-checkbox input[type=checkbox] {
  display: none;
}

.fake-checkbox {
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 3px;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #FFFFFF;
}

.fake-checkbox .fa-check {
  position: relative;
  bottom: 4px;
  color: #005EFF;
  opacity: 0;
}

.coves-checkbox input[type=checkbox]:checked + .fake-checkbox .fa-check {
  opacity: 1;
}

.coves-textarea {
  font: 1em "Droid Sans", sans-serif;
  border: 1px solid transparent;
}
