*:focus {
  outline: none !important;
}

::-moz-placeholder {
  color: #40D5FF;
}

::-webkit-input-placeholder {
  color: #40D5FF;
}

.align-center-container {
  text-align: center;
}

.coves-form {
  background-color: #BFF1FF;
  border-radius: 5px;
  box-sizing: border-box;
  font: 16px/1.5em "Droid Sans", sans-serif;
  padding: 3% 5%;
}

.coves-form-section {
  margin-bottom: 3%;
}

.coves-heading {
  color: #005EFF;
}

.coves-label {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #005EFF;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}

.coves-label-normal {
  font-weight: normal;
}

.coves-label-center {
  display: block;
  text-align: center;
}

.coves-label-right {
  text-align: right;
  width: 15%;
}

.coves-label-lg {
  font-size: 2em;
  line-height: 2em;
}

.coves-label-pointer {
  cursor: pointer;
}

.coves-input {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
  margin: 10px 0;
  padding: 6px 10px;
  width: 100%;
  -moz-appearance: none;
}

.coves-input-inline {
  width: auto;
}

.coves-input-lg {
  font-size: 1.5em;
  line-height: 1.5em;
}

.coves-input-hover:hover {
  border: 1px solid #00A9FF;
}

.coves-input-focus:focus {
  border: 1px solid #005EFF;
}

.coves-select {
  cursor: pointer;
}

.coves-select:invalid {
  color: #40D5FF;
}

.coves-select option {
  background-color: #FFFFFF;
  color: #000000;
}

.coves-select option[value=""] {
  color: #40D5FF;
}

.coves-radio-container {
  line-height: 2em;
  margin: 5px 0;
}

.coves-radio-input {
  cursor: pointer;
}

.coves-radio-text {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em/1.5em "Droid Sans", sans-serif;
  margin-left: 10px;
  padding: 1px 5px;
}

.coves-checkbox-container {
  line-height: 2em;
  margin: 10px 0;
}

.coves-checkbox-container input[type=checkbox] {
  display: none;
}

.coves-checkbox-fake {
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5em;
  margin-right: 6px;
  text-align: center;
  width: 1.5em;
}

.coves-checkbox-fake .fa-check {
  color: #005EFF;
  opacity: 0;
}

.coves-checkbox-container input[type=checkbox]:checked + .coves-checkbox-fake .fa-check {
  opacity: 1;
}

.coves-textarea {
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 1em "Droid Sans", sans-serif;
  padding: 6px 10px;
}

.coves-textarea-noresize {
  resize: none;
}

.coves-textarea-block {
  display: block;
  margin: 10px 0;
  resize: vertical;
  width: 100%;
}

.coves-hover-show {
  display: none;
}

.coves-hover-show-trigger:hover + .coves-hover-show {
  display: inline-block;
}