body {
  margin: 0;
}

.listing-container {
  background-color: #BFFFC5;
  font: 16px "Droid Sans", sans-serif;
  overflow: auto;
  padding: 1.5em;
  margin-bottom: 3.5em;
  transition: margin-bottom 0.5s;
  transition-timing-function: ease-out;
}

.listing-heading {
  color: #00800B;
  font-size: 3em;
}

.article-container {
  background-color: #FFE5BF;
  border: 2px solid #FF9600;
  border-radius: 5px;
  float: left;
  height: 24em;
  margin: 1px;
  padding: 1em 1.5em;
  width: 10em;
}

.article-heading {
  color: #FF5600;
  height: 1.25em;
  margin: 0.5em 0;
  overflow: hidden;
}


.article-photo {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}

.description {
  height: 2.5em;
  line-height: 1.25em;
  overflow: hidden;
}

.price {
  color: #FF5600;
  font-size: 1.5em;
  font-weight: bold;
  height: 1em;
  margin: 0.5em 0;
}

.input-quantity {
  border-color: #00A9FF;
  display: inline-block;
  text-align: center;
  width: 2.5em;
}

.fa {
  color: #0069FF;
}

.coves-checkbox-fake .fa-angle-double-up,
.expand-checkbox:checked + .coves-checkbox-fake .fa-angle-double-down {
  display: inline;
}

.expand-checkbox,
.coves-checkbox-fake .fa-angle-double-down,
.expand-checkbox:checked + .coves-checkbox-fake .fa-angle-double-up {
  display: none;
}

.coves-checkbox-fake {
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 2;
  transition: bottom 0.5s;
  transition-timing-function: ease-out;
}

.coves-checkbox-fake:hover {
  border-color: #0069FF;
}

.coves-checkbox-fake:active {
  background-color: #A7CBFF;
}

.expand-checkbox:checked ~ .cart {
  height: 9.5em;
}

.expand-checkbox:checked + .coves-checkbox-fake {
  bottom: 7em;
}

.expand-checkbox:checked ~ .listing-container {
  margin-bottom: 9.5em;
}

.expand-checkbox:checked ~ .cart .cart-list {
  display:block;
}

.cart {
  background-color: #FFBFF9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  box-sizing: border-box;
  clear: both;
  font: 16px "Droid Sans", sans-serif;
  height: 3.5em;
  left: 0;
  padding: 1em 1em 1em 3.5em;
  position: fixed;
  width: 100%;
  transition: height 0.5s;
  transition-timing-function: ease-out;
}

.cart-heading {
  line-height: 1.5em;
}

.cart-list {
  display: none;
  margin-top: 1em;
  height: 4.875em;
  overflow-y: auto;
}

.cart-item {
  height: 2.25em;
  margin: 0.125em 0;
}

#chekout-button {
  float: right;
  position: relative;
  bottom: 0.375em;
}

.item-span {
  color: #743E71;
  line-height: 2.25em;
  margin-right: 1em;
}

.item-left {
  float:left;
}

.item-right {
  float: right;
}

.item-total {
  text-align: right;
  width: 15%;
}

.item-quantity {
  text-align: right;
  width: 10%;
}