.sidebar {
  background-color: #F6F6F6;
  padding: 5%;
  border: 2px solid #4D4E7F;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FF5A58;
  font: 16px "Roboto", sans-serif;

}

.sidebar-content {
  width: 90%;
}

.sidebar-heading {
  margin: 5px 0;
}

.sidebar-name {
  font-weight: normal;
}

.sidebar-img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.sidebar-img-border {
  border: 2px solid #4D4E7F;
}

.sidebar-photo-container {
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 5px;
}

.sidebar-main-photo-container {
  width: 60%;
}
.clear-both {
  clear: both;
}

.sidebar-hr {
  height: 2px;
  width: 90%;
  border: 0;
  background-color: #4D4E7F;
}

a:link.sidebar-link {
  text-decoration: none;
}

.sidebar-button {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  color: #FFFFFF;
  background-color: #4D4E7F;
  border: 2px outset #343698;
  border-radius: 5px;
  padding: 5px;
  font: 100%/26px "Droid Sans", sans-serif;
  text-align: center;
}

.sidebar-button:hover {
  background-color: #343698;
}

.sidebar-button:active {
  background-color: #1A1DB2;
  border-color: #1A1DB2;
}

.sidebar-paragraph {
  color: #000000;
}