<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/forms.css">
  <link rel="stylesheet" href="../../css/buttons.css">
  <link rel="stylesheet" href="../../css/listing.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <meta charset="UTF-8">
  <title>Product Listing</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
</div>
<input id="expand" class="expand-checkbox" type="checkbox">
<label for="expand" class="coves-form__checkbox-container__fake-label">
  <span class="fa fa-angle-double-up fa-lg fa--blue" aria-hidden="true"></span>
  <span class="fa fa-angle-double-down fa-lg fa--blue" aria-hidden="true"></span>
</label>
<div class="listing-container">
  <h1 class="listing-heading">Product Listing</h1>
  <div class="article-container">
    <h2 class="article-heading">Article 1</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description or maybe longer description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">999.99 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 2</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">99.99 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 3</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description or maybe longer description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">9.99 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 4</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">888.88 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 5</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description or maybe longer description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">88.88 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 6</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">8.88 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 7</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description or maybe longer description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">0.88 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 8</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">77.77 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 9</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description or maybe longer description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">76.76 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 10</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">45.45 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 11</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description or maybe longer description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">16.16 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
  <div class="article-container">
    <h2 class="article-heading">Article 12</h2>
    <div>
      <img class="article-photo" src="http://placehold.it/240x240">
    </div>
    <div class="description">Short description</div>
    <div class="coves-form__input-container--center-flex-direction">
      <div class="price">78.25 $</div>
      <div class="button">Add to Cart</div>
    </div>
  </div>
</div>


<div class="cart">
  <form method="post" action="#">
    <div class="cart-heading">
      <span class="fa fa-shopping-cart fa-lg fa--blue" aria-hidden="true"> Total (3 items): </span>
      <span class="fa fa-lg fa--blue">1077.63 $</span>
      <div id="chekout-button" class="button button--sm">Checkout</div>
    </div>
    <div class="cart-list">
      <div class="cart-item">
        <span class="item-span item-left">Article 1</span>
        <div class="button button--sm item-right">Remove Article</div>
        <span class="item-span item-right item-total">999.9 $</span>
        <div class="button button--sm button-quantity item-right"><span class="fa fa-minus" aria-hidden="true"></span>
        </div>
        <div class="button button--sm button-quantity item-right"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
        <input id="item-quantity-01" type="text" class="coves-form__input item-right input-quantity" value="1">
        <label for="item-quantity-01" class="item-span item-right item-quantity">Units</label>
      </div>
      <div class="cart-item">
        <span class="item-span item-left">Article 7</span>
        <div class="button button--sm item-right">Remove Article</div>
        <span class="item-span item-right item-total">0.88 $</span>
        <div class="button button--sm button-quantity item-right"><span class="fa fa-minus" aria-hidden="true"></span>
        </div>
        <div class="button button--sm button-quantity item-right"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
        <input id="item-quantity-02" type="text" class="coves-form__input item-right input-quantity" value="1">
        <label for="item-quantity-02" class="item-span item-right item-quantity">Units</label>
      </div>
      <div class="cart-item">
        <span class="item-span item-left">Article 9</span>
        <div class="button button--sm item-right">Remove Article</div>
        <span class="item-span item-right item-total">76.76 $</span>
        <div class="button button--sm button-quantity item-right"><span class="fa fa-minus" aria-hidden="true"></span>
        </div>
        <div class="button button--sm button-quantity item-right"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
        <input id="item-quantity-03" type="text" class="coves-form__input item-right input-quantity" value="1">
        <label for="item-quantity-03" class="item-span item-right item-quantity">Units</label>
      </div>
    </div>
    <div class="promo-code">
      <label for="promo" class="coves-form__label">Promotional Code</label>
      <input id="promo" type="text" class="coves-form__input coves-form__input--inline" name="promo">
      <div class="button button--sm">Add Promotional Code</div>
    </div>
  </form>
</div>
</body>
</html>