<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <title>Sidebar</title>
</head>
<body>
<header>
  <div class="menu">
    <a href="../../index.html" class="button button--green">Back to Home</a>
  </div>
</header>
<div class="content">
  <div class="sidebar">
    <div class="name-header">
      <h1 class="sidebar__heading">Carlos Coves</h1>
    </div>
    <div class="o-float-container">
      <img class="sidebar__img sidebar__img--main sidebar__img--border" src="images/me.png">
      <img class="sidebar__img sidebar__img--border" src="images/desktop.png">
      <img class="sidebar__img" src="images/arch_sh.png">
    </div>
    <hr class="sidebar__hr o-clear-both">
    <div>
      <h3 class="sidebar__heading">The only way to go fast is to go well</h3>
      <p class="sidebar__paragraph">In my last years as a supply chain engineer, I became interested in programming and
        open source collaboration. After a casual meeting with an Agile developer, I discovered TDD, Clean Code and
        SOLID principles. Now I am a test-first coding believer.</p>
      <p class="sidebar__paragraph">The heading is a quote from Robert C. "Uncle Bob" Martin. The photo shows my
        desktop, which runs i3 window manager under Arch Linux, my favourite distro.</p>
      <a class="button sidebar__button" href="#">Back to Full Profile</a>
    </div>
  </div>
</div>
</body>
</html>