<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="../../css/calculator.css"/>
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Coves Calculator</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
</div>
<div class="content">
  <div class="calculator">
    <div class="screen">
      <input id="screen" class="calculator__screen" readonly value="012345">
    </div>
    <div class="button-row">
      <div class="calculator__button calculator__button--20 calculator__button--number">7</div>
      <div class="calculator__button calculator__button--20 calculator__button--number">8</div>
      <div class="calculator__button calculator__button--20 calculator__button--number">9</div>
      <div class="calculator__button calculator__button--20 calculator__button--sign">&#x00F7;</div>
      <div class="calculator__button calculator__button--20 calculator__button--clear-del">DEL</div>
    </div>
    <div class="button-row">
      <div class="calculator__button calculator__button--20 calculator__button--number">4</div>
      <div class="calculator__button calculator__button--20 calculator__button--number">5</div>
      <div class="calculator__button calculator__button--20 calculator__button--number">6</div>
      <div class="calculator__button calculator__button--20 calculator__button--sign">&#x00D7;</div>
      <div class="calculator__button calculator__button--20 calculator__button--clear-del">C</div>
    </div>
    <div class="button-row">
      <div class="calculator__button calculator__button--20 calculator__button--number">1</div>
      <div class="calculator__button calculator__button--20 calculator__button--number">2</div>
      <div class="calculator__button calculator__button--20 calculator__button--number">3</div>
      <div class="calculator__button calculator__button--20 calculator__button--sign">-</div>
    </div>
    <div class="calculator__button calculator__button--20 calculator__button--equal"><p>=</p></div>
    <div class="button-row">
      <div class="calculator__button calculator__button--40 calculator__button--number">0</div>
      <div class="calculator__button calculator__button--20 calculator__button--number">.</div>
      <div class="calculator__button calculator__button--20 calculator__button--sign">+</div>
    </div>
  </div>
</div>
</body>
</html>