<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../css/calculator.css"/>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Coves Calculator</title>
</head>
<body>
<div class="calculator">
  <div class="screen">
    <input id="screen" class="screen-input" readonly value="012345">
  </div>
  <div class="button-row">
    <div class="button b20 number">7</div>
    <div class="button b20 number">8</div>
    <div class="button b20 number">9</div>
    <div class="button b20 sign">&#x00F7;</div>
    <div class="button b20 clear-del">DEL</div>
  </div>
  <div class="button-row">
    <div class="button b20 number">4</div>
    <div class="button b20 number">5</div>
    <div class="button b20 number">6</div>
    <div class="button b20 sign">&#x00D7;</div>
    <div class="button b20 clear-del">C</div>
  </div>
  <div class="button-row">
    <div class="button b20 number">1</div>
    <div class="button b20 number">2</div>
    <div class="button b20 number">3</div>
    <div class="button b20 sign">-</div>
  </div>
  <div class="button b20 equal"><p>=</p></div>
  <div class="button-row">
    <div class="button b40 number">0</div>
    <div class="button b20 number">.</div>
    <div class="button b20 sign">+</div>
  </div>
</div>
</body>
</html>