@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Oswald:700,300");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 16px;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  padding: 0;
  background-color: #f2f2f2;
  color: #4C4C4C;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover, a:focus {
  color: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

header {
  padding: 24px;
}

section {
  padding-bottom: 24px;
}

.o-center-margin {
  margin-left: auto;
  margin-right: auto;
}

.o-float-container {
  overflow: auto;
}

.o-clear-both {
  clear: both;
}

.o-display-none {
  display: none;
}

.o-cursor-pointer {
  cursor: pointer;
}

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media only screen and (min-width: 630px) {
  .menu {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.menu__button {
  margin: 5px 0;
}
@media only screen and (min-width: 630px) {
  .menu__button {
    margin: 0 5px;
  }
}

.content {
  padding: 24px;
}

.coves {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media only screen and (min-width: 450px) {
  .coves {
    font-size: 1.5rem;
    line-height: 1;
  }
}
@media only screen and (min-width: 700px) {
  .coves {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.quote-container {
  font-family: "Oswald", sans-serif;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 450px) {
  .quote-container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.quote-text__text {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 700;
}
@media only screen and (min-width: 700px) {
  .quote-text__text {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.quote-text__author {
  font-size: 1.125rem;
  line-height: 1.33333;
}
@media only screen and (min-width: 450px) {
  .quote-text__author {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 700px) {
  .quote-text__author {
    font-size: 1.5rem;
    line-height: 1;
  }
}

.button {
  background-color: #00c7ff;
  border: 2px outset #00a9ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:hover {
  background-color: #00a9ff;
}
.button:active {
  background-color: #005eff;
  border-color: #005eff;
}

.button--lg {
  font-size: 1.5rem;
  line-height: 1;
}

.button--md {
  font-size: 1.25rem;
  line-height: 1.2;
}

.button--sm {
  font-size: 1rem;
  line-height: 16px;
}

.sidebar {
  background-color: #f2f2f2;
  border: 2px solid #6869A4;
  border-radius: 5px;
  max-width: 32rem;
  min-width: 18rem;
  padding: 24px;
}

.sidebar__heading {
  color: #fb5e5e;
}

.sidebar__img {
  float: left;
  margin: 2%;
  width: 36%;
}

.sidebar__img--main {
  width: 56%;
}

.sidebar__img--border {
  border-radius: 5px;
  border: 2px solid #6869A4;
}

.sidebar__hr {
  background-color: #6869A4;
  border: 0;
  height: 2px;
  margin-top: 16px;
}

.sidebar__button {
  background-color: #6869A4;
  border: 2px outset #4d4e7f;
}
.sidebar__button:hover {
  background-color: #4d4e7f;
}
.sidebar__button:active {
  border-color: #4d4e7f;
}

.sidebar__paragraph {
  text-align: justify;
}

.showcase-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.showcase__form {
  border: 2px solid #00a9ff;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 11rem;
  margin: 5px;
  padding: 16px;
}

.showcase__form__photo {
  border-radius: 5px;
}

.showcase__form__button {
  margin-top: 16px;
}

.coves-form, .coves-form--center {
  background-color: #bff1ff;
  border-radius: 5px;
  max-width: 700px;
  min-width: 300px;
  padding: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.coves-form section, .coves-form--center section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch;
}

.coves-form--center {
  -ms-flex-align: center;
      align-items: center;
}

.coves-form__heading {
  color: #005eff;
}

.coves-form__input-container--column, .coves-form__input-container--row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin-bottom: 5px;
  position: relative;
}

.coves-form__input-container--row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}

.coves-form__label, .coves-form__label--lg, .coves-form__radio-container__label {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #005eff;
  font-weight: 600;
  padding: 4px 6px;
}

.coves-form__label--lg {
  font-size: 2rem;
  line-height: 1.5;
}

.coves-form__input, .coves-form__input--inline {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px 10px;
}
.coves-form__input:hover, .coves-form__input--inline:hover, .coves-form__input:focus, .coves-form__input--inline:focus {
  border-color: #00a9ff;
}
.coves-form__input:invalid, .coves-form__input--inline:invalid {
  background-color: #fedada;
  border-color: #fb5e5e;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.coves-form__input:invalid:focus, .coves-form__input--inline:invalid:focus {
  background-color: #fff;
}
.coves-form__input:disabled, .coves-form__input--inline:disabled {
  background-color: #CDCDCD;
  border-color: transparent;
}

.coves-form__input-container--column .coves-form__input:last-child, .coves-form__input-container--row .coves-form__input:last-child, .coves-form__input-container--column .coves-form__input--inline:last-child, .coves-form__input-container--row .coves-form__input--inline:last-child {
  margin-bottom: 16px;
}

.coves-form__input--inline {
  margin-right: 6px;
  padding-right: 2px;
}
.coves-form__input--inline:invalid {
  border-radius: 5px;
}

.coves-form__input--lg {
  font-size: 1.5rem;
  line-height: 1;
}

.coves-form__error, .coves-form__error--attached, .coves-form__error-box {
  background-color: #fedada;
  border: 1px solid #fb5e5e;
  border-radius: 5px;
  color: #fb5e5e;
  padding: 2px;
  visibility: hidden;
}

.coves-form__error--attached {
  border-radius: 0 0 5px 5px;
  border-top-color: transparent;
  font-size: 0.75rem;
  line-height: 14px;
  font-weight: 600;
  height: 16px;
  overflow: hidden;
  padding: 0 10px;
  white-space: nowrap;
}

.coves-form__input:invalid + .coves-form__error, .coves-form__input--inline:invalid + .coves-form__error, .coves-form__input:invalid + .coves-form__error--attached, .coves-form__input--inline:invalid + .coves-form__error--attached, .coves-form__input:invalid + .coves-form__error-box, .coves-form__input--inline:invalid + .coves-form__error-box {
  visibility: visible;
}

.coves-form__error-box {
  display: none;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  visibility: visible;
}

.coves-form-ok {
  color: #005eff;
  display: none;
  position: absolute;
  right: 7px;
  top: 7px;
}
.coves-form-ok ~ .coves-form__input, .coves-form-ok ~ .coves-form__input--inline {
  padding-right: 30px;
}

.coves-form__select {
  cursor: pointer;
  height: 30px;
}

.coves-form__select option {
  background-color: #fff;
  color: #000;
}

.coves-form__radio-set {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch;
}

.coves-form__radio-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}

.coves-form__radio-container__input {
  cursor: pointer;
  -ms-flex-preferred-size: 20px;
      flex-basis: 20px;
}

.coves-form__radio-container__label {
  font-weight: 400;
}

.coves-form__radio-container__text {
  margin-left: 27px;
  width: 170px;
}

.coves-form__checkbox-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}

.coves-form__checkbox-container__fake-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 24px;
  margin-right: 5px;
  width: 24px;
}
.coves-form__checkbox-container__fake-label:hover, .coves-form__checkbox-container__fake-label:focus {
  border-color: #00a9ff;
}

.coves-form__checkbox-container__fake-label .fa-check {
  color: #005eff;
  opacity: 0;
}

.coves-form__checkbox-container input[type=checkbox]:checked + .coves-form__checkbox-container__fake-label .fa-check {
  opacity: 1;
}

.coves-form__textarea, .coves-form__textarea--no-resize {
  line-height: 16px;
  padding: 10px;
  resize: vertical;
}

.coves-form__textarea--no-resize {
  resize: none;
}

.icon {
  left: 7px;
  position: absolute;
  top: 3px;
}

.icon--lg {
  left: 4px;
  position: absolute;
  top: 3px;
}

.icon ~ .coves-form__input, .icon ~ .coves-form__input--inline {
  padding-left: 36px;
}

.icon--lg ~ .coves-form__input--lg {
  padding-left: 40px;
}

.icon-user, .icon-user::after {
  content: url("../assets/icons/user-24.png");
}

.icon-name, .icon-name::after {
  content: url("../assets/icons/compose-24.png");
}

.icon-email, .icon-email::after {
  content: url("../assets/icons/mail-24.png");
}

.icon-date, .icon-date::after {
  content: url("../assets/icons/calendar-24.png");
}

.icon-pass, .icon-pass::after {
  content: url("../assets/icons/key-24.png");
}

.icon-search, .icon-search::after {
  content: url("../assets/icons/magnifyingglass-24.png");
}

.icon-category, .icon-category::after {
  content: url("../assets/icons/category.png");
}

.icon-search-lg, .icon-search-lg::after {
  content: url("../assets/icons/magnifyingglass-32.png");
}

/*partially generated with range.css - http://danielstern.ca/range.css/#/*/
.label-range {
  min-width: 75px;
  text-align: center;
}

.input-range-coves {
  height: 6px;
  margin: 15px 0;
  -webkit-appearance: none;
  width: 75px;
}
@media only screen and (min-width: 450px) {
  .input-range-coves {
    width: 100px;
  }
}

.input-range-coves:focus {
  outline: none;
}

.input-range-coves::-webkit-slider-runnable-track {
  background: #ffffff;
  border: 1px solid #0069ff;
  border-radius: 3px;
  cursor: pointer;
  height: 6px;
  width: 100%;
}

.input-range-coves::-webkit-slider-thumb {
  background: #00a9ff;
  border: 1px solid #0069ff;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  margin-top: -10px;
  width: 24px;
  -webkit-appearance: none;
}

.input-range-coves:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

.input-range-coves::-moz-range-track {
  background: #ffffff;
  border: 1px solid #0069ff;
  border-radius: 3px;
  cursor: pointer;
  height: 6px;
  width: 100%;
}

.input-range-coves::-moz-range-thumb {
  background: #00a9ff;
  border: 1px solid #0069ff;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.input-range-coves::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 6px;
  width: 100%;
}

.input-range-coves::-ms-fill-lower {
  background: #ffffff;
  border: 1px solid #0069ff;
  border-radius: 6px;
}

.input-range-coves::-ms-fill-upper {
  background: #ffffff;
  border: 1px solid #0069ff;
  border-radius: 6px;
}

.input-range-coves::-ms-thumb {
  background: #00a9ff;
  border: 1px solid #0069ff;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.input-range-coves:focus::-ms-fill-lower {
  background: #ffffff;
}

.input-range-coves:focus::-ms-fill-upper {
  background: #ffffff;
}

.calculator {
  background: #66DDFF;
  border-radius: 5px;
  font: bold 16px "Open Sans", sans-serif;
  overflow: auto;
  padding: 5px;
  width: 280px;
}

.calculator__screen {
  background-color: #ffffff;
  border: 2px solid #00B3E5;
  border-radius: 5px;
  color: #000000;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  padding: 3px;
  text-align: right;
  width: 100%;
}

.calculator__button {
  border: 2px solid;
  border-radius: 5px;
  margin: 2px;
  padding: 6px 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 50px;
  font-size: 24px;
}

.calculator__button--40 {
  float: left;
  width: 104px;
}

.calculator__button--20 {
  float: left;
  width: 50px;
}

.calculator__button--equal {
  background-color: #91FF66;
  border-color: #40E500;
  color: #007400;
  float: right;
  vertical-align: middle;
  height: 104px;
  line-height: 88px;
}

.calculator__button--equal:active {
  border-color: #EDFFE5;
}

.calculator__button--clear-del {
  background-color: #FF6691;
  border-color: #E50040;
  color: #69001D;
}

.calculator__button--clear-del:active {
  border-color: #FFE5ED;
}

.calculator__button--number {
  background-color: #6691FF;
  border-color: #0040E5;
  color: #001E74;
}

.calculator__button--number:active {
  border-color: #E5EDFF;
}

.calculator__button--sign {
  background-color: #FF66DD;
  border-color: #E500B3;
  color: #6C0058;
}

.calculator__button--sign:active {
  border-color: #FFE5F9;
}

.listing-container {
  padding: 16px;
  transition: all 400ms ease-in;
}

.listing-container--cart-show {
  margin-bottom: 67px;
}

.article-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 250px;
}
@media only screen and (min-width: 548px) {
  .article-container {
    width: 500px;
  }
}
@media only screen and (min-width: 798px) {
  .article-container {
    width: 750px;
  }
}
@media only screen and (min-width: 1048px) {
  .article-container {
    width: 1000px;
  }
}
@media only screen and (min-width: 1298px) {
  .article-container {
    width: 1250px;
  }
}

.article {
  border: 1px solid #00a9ff;
  border-radius: 5px;
  color: #005eff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-preferred-size: 15rem;
      flex-basis: 15rem;
  margin: 5px;
  padding: 16px;
}
.article:hover {
  box-shadow: 0 0 3px 2px rgba(0, 169, 255, 0.5);
}

.article-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 206px;
}

.article-photo {
  border-radius: 5px;
  margin-bottom: 12px;
}

.description {
  font-size: 0.75rem;
  line-height: 16px;
  overflow: hidden;
  height: 32px;
}

.price {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.add-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cart {
  background-color: #bff1ff;
  border: 0 solid #00a9ff;
  border-radius: 5px 5px 0 0;
  color: #005eff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  padding: 0 16px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  transition: all 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cart--show {
  border-width: 1px;
  height: 72px;
  padding: 16px;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cart__header {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
}

.cart__header__counter {
  margin-right: 24px;
}

.cart__header__total {
  margin-left: auto;
}

.cart-modal-container {
  background: rgba(50, 50, 50, 0.4);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.5s, visibility 0s linear 0.6s;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.cart-modal__background {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cart-modal__box {
  background-color: #f2f2f2;
  border: 1px solid #00a9ff;
  border-radius: 10px;
  color: #005eff;
  padding: 24px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  max-height: 85%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 300px;
}
@media only screen and (min-width: 450px) {
  .cart-modal__box {
    width: 402px;
  }
}
@media only screen and (min-width: 700px) {
  .cart-modal__box {
    width: 652px;
  }
}

.cart-modal-toggle:checked + .cart-modal-container {
  opacity: 1;
  transition: opacity 0.5s;
  visibility: visible;
}
.cart-modal-toggle:checked + .cart-modal-container .cart-modal__box {
  top: 48px;
}

.cart__header--modal {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cart-list {
  margin: 16px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.cart-list__item {
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 5px;
}
.cart-list__item:nth-child(2n-1) {
  background-color: #CDCDCD;
}
@media only screen and (min-width: 450px) {
  .cart-list__item {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
}

.cart-list__item__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
  min-width: 200px;
}

.cart-list__item__quantity {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media only screen and (min-width: 450px) {
  .cart-list__item__quantity {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

.button-remove {
  border-radius: 50%;
}

.cart-list__item__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 16px 0 5px;
}

.line-price {
  font-weight: 600;
  margin: 0 5px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button-quantity {
  height: 28px;
  width: 28px;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.input-quantity {
  border-color: #00a9ff;
  margin: 0 5px;
}

.promo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-bottom: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.promo-code {
  border: 1px solid #00a9ff;
  width: 10rem;
  margin-right: 5px;
}
.promo-code:focus {
  box-shadow: 0 0 3px 2px rgba(0, 169, 255, 0.5);
}

.promo-status, .promo-msg {
  background-color: #bff1ff;
  border-radius: 5px;
  color: #005eff;
  font-size: 1rem;
  line-height: 1.5;
  padding: 5px;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  transition: all .4s ease-out;
  z-index: 10;
}
.promo-status:after, .promo-msg:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bff1ff;
  content: '';
  height: 0;
  position: absolute;
  right: 24px;
  top: 100%;
  width: 0;
}
.promo-status.promo--show, .promo--show.promo-msg {
  opacity: 1;
  bottom: 40px;
}

.promo-msg {
  background-color: #fedada;
  color: #fb5e5e;
}
.promo-msg:after {
  border-top-color: #fedada;
}

.cart-modal__box__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#color {
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.cart-modal-toggle-button {
  height: 40px !important;
  width: 40px !important;
  margin-right: 24px;
}

#chekout-button {
  height: 40px;
  width: 100px;
  font-weight: 700;
}

#chekout-button,
.cart-modal-toggle-button,
.button-quantity {
  padding: 0 !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.input-quantity {
  text-align: center !important;
  width: 40px !important;
}

.button-remove {
  border-style: solid !important;
}

.t-center-main {
  -ms-flex-pack: center !important;
      justify-content: center !important;
}

#csv {
  position: relative;
}
#csv:hover ~ #csv-tooltip {
  display: inline-block;
}

#csv-tooltip {
  color: #005eff;
  position: absolute;
  top: -29px;
  right: 0;
  display: none;
}
