<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/forms.css"/>
  <link rel="stylesheet" href="../css/range.css"/>
  <meta charset="UTF-8">
  <title>Color Builder</title>
</head>
<body>
<div class="coves-form">
  <form method="post" action="#" novalidate>
    <div>
      <label for="red" class="coves-label label-range">Red</label>
      <input id="red" type="range" class="input-range-coves" min="0" max="255" step="5">
    </div>
    <div>
      <label for="green" class="coves-label label-range">Green</label>
      <input id="green" type="range" class="input-range-coves" min="0" max="255" step="5">
    </div>
    <div>
      <label for="blue" class="coves-label label-range">Blue</label>
      <input id="blue" type="range" class="input-range-coves" min="0" max="255" step="5">
    </div>
    <div>
      <label for="alpha" class="coves-label label-range">Alpha</label>
      <input id="alpha" type="range" class="input-range-coves" min="0" max="1" step="0.01">
    </div>
    <label for="color" class="coves-label label-range">Color</label>
    <textarea id="color" name="color" class="coves-textarea coves-textarea-noresize coves-input-hover" rows="1" cols="7"
              placeholder="Output" readonly></textarea>
  </form>
</div>
</body>
</html>