*:focus {
  outline: none !important;
}

::-moz-placeholder {
  color: #40D5FF;
}

::-webkit-input-placeholder {
  color: #40D5FF;
}

.coves-signup-form {
  border-radius: 5px;
  background-color: #BFF1FF;
  padding: 3% 5%;
  box-sizing: border-box;
}

.coves-label {
  color: #005EFF;
  font: bold 16px/24px "Droid Sans", sans-serif;
}

.center-label {
  display: block;
  text-align: center;
}

.label-lg {
  font-size: 2em;
  line-height: 2em;
}

.coves-input {
  -moz-appearance: none;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font: 16px/24px "Droid Sans", sans-serif;
}

.coves-input-lg {
  font-size: 24px;
  line-height: 36px;
}

.coves-input:hover {
  border: 1px solid #00A9FF;
}

.coves-input:focus {
  border: 1px solid #005EFF;
}

.coves-select:invalid {
  color: #40D5FF;
}

.coves-select option {
  color: #000000;
}

.coves-select option[value=""] {
  color: #40D5FF;
}
