<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <title>Forms</title>
</head>
<body>
<header>
  <div class="menu">
    <a href="../../index.html" class="button">Back to Home</a>
  </div>
</header>
<div class="content">
  <h1>Many Forms</h1>
  <div class="showcase-container">
    <div class="showcase__form">
      <h2>Signup</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-signup.png">
      <a href="signup.html" class="button showcase__form__button">Go</a>
    </div>
    <div class="showcase__form">
      <h2>Search</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-search.png">
      <a href="search.html" class="button showcase__form__button">Go</a>
    </div>
    <div class="showcase__form">
      <h2>Questionnaire</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-questionnaire.png">
      <a href="questionnaire.html" class="button showcase__form__button">Go</a>
    </div>
    <div class="showcase__form">
      <h2>Login</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-login.png">
      <a href="login.html" class="button showcase__form__button">Go</a>
    </div>
    <div class="showcase__form">
      <h2>Color</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-color.png">
      <a href="color.html" class="button showcase__form__button">Go</a>
    </div>
    <div class="showcase__form">
      <h2>Shipping</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-billing.png">
      <a href="shipping.html" class="button showcase__form__button">Go</a>
    </div>
    <div class="showcase__form">
      <h2>Scheduling</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-schedule.png">
      <a href="scheduling.html" class="button showcase__form__button">Go</a>
    </div>
    <div class="showcase__form">
      <h2>Credit Card</h2>
      <img class="showcase__form__photo" src="../../assets/images/sc-credit.png">
      <a href="credit-card.html" class="button showcase__form__button">Go</a>
    </div>
  </div>

</div>
</body>
</html>