<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="../../css/forms.css"/>
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <link rel="stylesheet" href="../../css/icons.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Login Form</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
  <a href="index.html" class="button button--green">Back to Forms Showcase</a>
</div>
<div class="content">
  <div class="coves-form">
    <form id="login-form" method="post" action="#" novalidate>
      <div class="coves-form__input-container">
        <label for="username" class="coves-form__label">Username</label>
        <div class="coves-form__icon-input-container">
          <div class="icon icon-user"></div>
          <input id="username" class="coves-form__input coves-form__input--hover coves-form__input--focus icon-user"
                 type="text" name="username" maxlength="20" tabindex="1">
        </div>
      </div>
      <div class="coves-form__input-container">
        <label for="pass" class="coves-form__label">Password</label>
        <div class="coves-form__icon-input-container">
          <div class="icon icon-pass"></div>
          <input id="pass" class="coves-form__input coves-form__input--hover coves-form__input--focus icon-pass"
                 type="password" name="pass" tabindex="2">
        </div>
      </div>
      <div class="coves-form__input-container coves-form__input-container--align-center">
        <div class="coves-form__checkbox-container">
          <input id="remember" type="checkbox" name="remember" value="1" tabindex="3">
          <label for="remember" class="coves-form__checkbox-container__fake-label coves-form__input--hover"><span
              class="fa fa-check fa-lg"
              aria-hidden="true"></span></label>
          <label for="remember" class="coves-form__label coves-form__label--pointer coves-form__input--hover">Remember
            me</label>
        </div>
      </div>
      <div class="coves-form__input-container coves-form__input-container--align-center">
        <input type="submit" class="button button--md" value="Login" tabindex="4">
      </div>
    </form>
  </div>
</div>
<script src="../../js/coves-select.js"></script>
</body>
</html>