<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../css/forms.css"/>
  <link rel="stylesheet" type="text/css" href="../css/icons.css"/>
  <link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
  <meta charset="UTF-8">
  <title>Questionnaire</title>
</head>
<body>
<div class="coves-form">
  <form method="post" action="#" novalidate>
    <label class="coves-label">How did you find this page?</label>
    <div class="coves-radio">
      <input id="magazine" class="coves-input-radio" type="radio" name="find" value="magazine" tabindex="1">
      <label for="magazine" class="coves-label label-normal label-pointer">Magazine</label>
    </div>
    <div class="coves-radio">
      <input id="tv" class="coves-input-radio" type="radio" name="find" value="tv">
      <label for="tv" class="coves-label label-normal label-pointer">TV</label>
    </div>
    <div class="coves-radio">
      <input id="google" class="coves-input-radio" type="radio" name="find" value="google">
      <label for="google" class="coves-label label-normal label-pointer">Google Ad</label>
    </div>
    <div class="coves-radio">
      <input id="friend" class="coves-input-radio" type="radio" name="find" value="friend">
      <label for="friend" class="coves-label label-normal label-pointer">Friend</label>
    </div>
    <div class="coves-radio">
      <input id="other" class="coves-input-radio" type="radio" name="find" value="other">
      <label for="other" class="coves-label label-normal label-pointer">Other</label>
      <input id="other-text" class="coves-radio-text" type="text" name="other-text" placeholder="Other media" tabindex="2">
    </div>
    <input type="submit" class="button" value="Submit" tabindex="3">
  </form>
</div>
</body>
</html>