<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <title>Search Form</title>
</head>
<body>
<header>
  <div class="menu">
    <a href="../../index.html" class="button menu__button">Back to Home</a>
    <a href="index.html" class="button menu__button">Back to Forms Showcase</a>
  </div>
</header>
<div class="content">
  <form id="search-form" class="coves-form" method="post" action="#" novalidate>
    <label for="search" class="coves-form__label--lg">Search</label>
    <div class="coves-form__input-container--column">
      <span class="icon--lg icon-search-lg"></span>
      <input id="search"
             class="coves-form__input coves-form__input--lg coves-form__input--required"
             type="text" name="search" placeholder="Search..." tabindex="1">
      <div id="search__error" class="coves-form__error--attached"></div>
    </div>
    <label for="categories" class="coves-form__label">Categories</label>
    <div class="coves-form__input-container--column">
      <span class="icon icon-category"></span>
      <select id="categories"
              class="coves-form__input coves-form__select"
              name="category" tabindex="2">
        <option selected value="">Select a Category</option>
        <option value="movie">Movies</option>
        <option value="game">Games</option>
        <option value="sport">Sports</option>
        <option value="health">Health</option>
        <option value="financial">Financial</option>
        <option value="computer">Computers</option>
      </select>
    </div>
    <div class="coves-form__input-container--row t-center-main">
      <input type="submit" class="button" value="Search" tabindex="3">
    </div>
  </form>
</div>
<script src="../../scripts/coves-select.js"></script>
<script src="../../scripts/validators.js"></script>
<script src="../../scripts/search-form.js"></script>
</body>
</html>