<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../css/forms.css"/>
  <link rel="stylesheet" href="../../css/icons.css"/>
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <meta charset="UTF-8">
  <title>Search Form</title>
</head>
<body>
<div class="coves-form">
  <form method="post" action="#" novalidate autocomplete="off">
    <label for="search" class="coves-label coves-label-center coves-label-lg">Search</label>
    <input id="search" class="coves-input coves-input-lg coves-input-hover coves-input-focus icon-search-lg" type="text"
           name="search" required placeholder="Search..."
           tabindex="1">
    <select id="categories" class="coves-input coves-select coves-input-hover coves-input-focus icon-category"
            name="category" required tabindex="2">
      <option class="select-default" selected value="">Select a Category</option>
      <option value="movie">Movies</option>
      <option value="game">Games</option>
      <option value="sport">Sports</option>
      <option value="health">Health</option>
      <option value="financial">Financial</option>
      <option value="computer">Computers</option>
    </select>

    <div class="align-center-container">
      <input type="submit" class="button" value="Search" tabindex="3">
    </div>
  </form>
</div>
</body>
</html>