<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="forms.css"/>
  <link rel="stylesheet" type="text/css" href="../buttons/buttons.css"/>
  <meta charset="UTF-8">
  <title>Signup Form</title>
</head>
<body>
<div class="coves-signup-form">
  <form method="post" action="#">
    <label for="first-name">First Name</label>
      <input id="first-name" type="text" name="firstname" required placeholder="Your first name" tabindex="1">
    <label for="last-name">Last Name</label>
      <input id="last-name" type="text" name="lastname" required placeholder="Your last name" tabindex="2">
    <label for="email">Email Address</label>
      <input id="email" type="email" name="email" required placeholder="Your e-mail address" tabindex="3">
    <label for="birth">Date of Birth</label>
      <input id="birth" type="text" name="birth" required placeholder="Your date of birth" tabindex="4">
    <label for="pass">Password</label>
      <input id="pass" type="password" name="pass" tabindex="5">
    <label for="pass-repeat">Repeat Password</label>
      <input id="pass-repeat" type="password" name="pass-repeat" tabindex="6">
    <input type="submit" class="button" value="Submit">
  </form>
</div>
</body>
</html>