<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <script src="../../scripts/validators.js"></script>
  <script src="../../scripts/signup-form.js"></script>
  <title>Signup Form</title>
</head>
<body>
<header>
  <div class="menu">
    <a href="../../index.html" class="button menu__button">Back to Home</a>
    <a href="index.html" class="button menu__button">Back to Forms Showcase</a>
  </div>
</header>
<div class="content">
  <form id="signup-form" class="coves-form" method="post" action="#" novalidate>
    <label for="username" class="coves-form__label">Username</label>
    <div class="coves-form__input-container--column">
      <div class="icon icon-user"></div>
      <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
      <input id="username" class="coves-form__input coves-form__input--required"
             type="text" name="username" placeholder="Your username" tabindex="1">
      <div id="username__error" class="coves-form__error--attached"></div>
    </div>
    <label for="first-name" class="coves-form__label">First Name</label>
    <div class="coves-form__input-container--column">
      <span class="icon icon-name"></span>
      <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
      <input id="first-name" class="coves-form__input coves-form__input--required"
             type="text" name="firstname" maxlength="50" placeholder="Your first name" tabindex="2">
      <div id="first-name__error" class="coves-form__error--attached"></div>
    </div>
    <label for="last-name" class="coves-form__label">Last Name</label>
    <div class="coves-form__input-container--column">
      <span class="icon icon-name"></span>
      <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
      <input id="last-name" class="coves-form__input coves-form__input--required"
             type="text" name="lastname" maxlength="50" placeholder="Your last name" tabindex="3">
      <div id="last-name__error" class="coves-form__error--attached"></div>
    </div>
    <label for="email" class="coves-form__label">Email Address</label>
    <div class="coves-form__input-container--column">
      <span class="icon icon-email"></span>
      <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
      <input id="email" class="coves-form__input coves-form__input--required"
             type="text" name="email" placeholder="Your e-mail address" tabindex="4">
      <div id="email__error" class="coves-form__error--attached"></div>
    </div>
    <label for="birth" class="coves-form__label">Date of Birth</label>
    <div class="coves-form__input-container--column">
      <span class="icon icon-date"></span>
      <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
      <input id="birth" class="coves-form__input coves-form__input--required"
             type="text" name="birth" placeholder="Your date of birth" tabindex="5">
      <div id="birth__error" class="coves-form__error--attached"></div>
    </div>
    <label for="pass" class="coves-form__label">Password</label>
    <div class="coves-form__input-container--column">
      <span class="icon icon-pass"></span>
      <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
      <input id="pass" class="coves-form__input coves-form__input--required"
             type="password" name="pass" tabindex="6">
      <div id="pass__error" class="coves-form__error--attached"></div>
    </div>
    <label for="pass-repeat" class="coves-form__label">Repeat Password</label>
    <div class="coves-form__input-container--column">
      <span class="icon icon-pass"></span>
      <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
      <input id="pass-repeat" class="coves-form__input coves-form__input--required"
             type="password" name="pass-repeat" tabindex="7">
      <div id="pass-repeat__error" class="coves-form__error--attached"></div>
    </div>
    <div class="coves-form__input-container--row t-center-main">
      <input type="submit" class="button" value="Submit" tabindex="8">
    </div>
    <div class="coves-form__input-container--row t-center-main">
      <div id="signup__error-box" class="coves-form__error-box">All inputs are required</div>
    </div>
  </form>
</div>
</body>
</html>